# Ignore the pixel_classifiers directory/pixel_classifiers/# Ignore the checkpoints directory/checkpoints/# Ignore the HS-MS Houston2013 directory/HS-MS_Houston2013//HS-SAR_Berlin//HS-SAR-DSM_Augsburg/# Ignore the datasets directory/datasets/# Ignore Python cache files__pycache__/# Ignore Python compiled files*.pyc# Ignore Jupyter Notebook checkpoints.ipynb_checkpoints/# Ignore experimental results/exp_result/# Ignore the experiments directory (e.g., large JSON files)/experiments/# Ignore specific generated scriptscripts/datasetDDPM/generate_dataset.sh# Ignore specific notebook filestry.ipynb# Ignore large JSON files from experiments/experiments/berlin_64_stride_32/datasetDDPM.json/experiments/hyperspectral_64_slide_spectral/datasetDDPM.json# Ignore other specific large filesguided_diffusion/guided_diffusion/fp16_util.pysrc/feature_extractors.py 